<main>

<div class='container p-3 my-3 border'>
  <div class="card">
    <h1>Look up definitions quickly from the Oxford API!</h1>
    <div class="container p-3 my-3 border">
      <%= form_tag("/word", method: "post") do %>
        <%= label_tag(:q, "") %>
        <span>Pick your dictionary:</span>
        <%= select_tag "endpoint", options_for_select(["Oxford", "Webster"], "Oxford") %>
        <br><br>
        <%= text_field_tag(:q) %>
        <br><br>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>

</main>