<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" 
      type="image/png" 
      href="https://www.oed.com/assets/ctx/20200924/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Dictionary App</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Biryani:200,400&display=swap">
    <% if !Rails.env.test? %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Biryani:200,400&display=swap">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <% end %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
  	<%= render "layouts/navigation" %>
    <%= yield %>
  </body>

  <footer class="footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href='https://github.com/rukshanuddin'>Rukshan Uddin</a>
    </div>
  </footer>
</html>